<!DOCTYPE html>
<html>
    <%- include('../layouts/head') %>
    <body>
        <%- include('../layouts/header') %>

        <h1>Skills</h1>
        <h1>Languages <%= skill.languages %></h1>
        <h1> Frameworks <%= skill.frameworks %></h1>  
        <form action="/skills/<%= skillId %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit" class="btn-danger">Delete</button>
        </form>

        <%- include('../layouts/footer') %>
    </body>
</html>