<!DOCTYPE html>
<html>
    <%- include('../layouts/head') %>
    <body>
        <%- include('../layouts/header') %>

        <h1>Skills</h1>
        <h1>Languages <%= skill.languages %></h1>
        <h1> Frameworks <%= skill.frameworks %></h1>

        <a class="btn btn-primary" href="/skills/<%= skillId %>/edit" role="button">Edit</a>
        <form action="/skills/<%= skillId %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit" class="btn-danger">Delete</button>
        </form>    

        <%- include('../layouts/footer') %>
    </body> 
</html>